:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --font-size-base: 16px;

  --black-color: 0, 0, 0;
  --white-color: #FFFFFF;
  --navy-color: #2E2F42;
  --navy-blue-rgb: 46, 47, 66;
  --light-color: #F4F4FD;
  --light-slate-color: #8E8F99;
  --border-color: #E7E9FC;

  --primary-text-color: #434455;
  --primary-title-color: #2E2F42;

  --primary-color: #4D5AE5;
  --primary-active-color: #404BBF;
  --green-color: #31d0aa;

  --transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  line-height: 1.5;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-title-color);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 16px;
  }
}

.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header .logo {
  margin-right: 76px;

}

.logo {
  padding: 16px 0;
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}

.logo.light .logo-suffix {
  color: var(--navy-color);
}

.logo.dark .logo-suffix {
  color: var(--light-color);
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
  }
}

.nav-menu li:not(:last-child) {
  margin-right: 40px;
}

.nav-menu-link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--navy-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-default);
}

.nav-menu-link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-active-color);
  opacity: 0;
  transition: opacity var(--transition-default);
}

.nav-menu-link.active:after {
  opacity: 1;
}

.nav-menu-link.active,
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--primary-active-color);
}

.contacts {
  display: none;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

.contact-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 1158px) {
  .contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contact-link {
  display: inline-block;
  padding: 0;
  color: var(--primary-text-color);
  transition: color var(--transition-default);
}

@media only screen and (min-width: 1158px) {
  .contact-link {
    padding: 24px 0;
  }
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-active-color);
}

.mobile-nav-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-nav-menu-btn {
    display: none;
  }
}

.mobile-menu-btn-icon {
  fill: var(--navy-color);
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 72px 16px 40px;
  width: 100dvw;
  height: 100dvh;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform var(--transition-default);
}

.mobile-nav {
  flex-grow: 1;
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0);
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  display: block;
  color: var(--primary-title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  transition: color var(--transition-default);
}

.mobile-nav-link.active,
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--primary-active-color);
}

.mobile-contacts {
  font-style: normal;
  margin-bottom: 40px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-list .contact-link {
  font-size: 20px;
  line-height: 1.2;
}

.mobile-menu-wrapper .social-links {
  display: flex;
  justify-content: space-between;
  max-width: 308px;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  text-align: center;
  text-transform: capitalize;
}

.primary-button {
  min-width: 169px;
  padding: 16px 32px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition-default);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-active-color);
}

.hero-section {
  padding: 72px 0;
  margin: 0 auto;
  background-color: var(--navy-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
}

@media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-banner-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg-desktop.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-banner-desktop@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
  }
}

.page-title {
  max-width: 345px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .page-title {
    max-width: 496px;
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .page-title {
    margin-bottom: 48px;
  }
}

.hero-section .primary-button {
  display: block;
  margin: 0 auto;
}

.team-member-title,
.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-member-description,
.portfolio-description {
  font-size: var(--font-size-base);
  line-height: 1.5;
}

.features-section {
  background-color: var(--white-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

.feature-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-icon-wrapper {
  display: none;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid var(--light-slate-color);
  background-color: var(--light-color);
  border-radius: 4px;
}

@media only screen and (min-width: 1158px) {
  .feature-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.feature-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.feature-title {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}

.feature-description {
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .feature-description {
    font-weight: 400;
  }
}

.team-section {
  background-color: var(--light-color);
}

.team-member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .team-member-list {
    row-gap: 64px;
  }
}

.team-member-item {
  max-width: 264px;
  background-color: var(--white-color);
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;

}

.team-member-info {
  padding: 32px 0;
}

.team-member-description {
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color var(--transition-default);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--primary-active-color);
}

.social-icon {
  display: inline-block;
  fill: var(--light-color);
}

.portfolio-section {
  background-color: var(--white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.9px) {
  .portfolio-list {
    row-gap: 64px;
  }
}


.portfolio-item {
  width: 100%;
  max-width: 356px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px)/ 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    max-width: 360px;
    width: calc((100% - 48px)/ 3);
    transition: box-shadow var(--transition-default);
    box-shadow: none;
  }

  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214,
      0px 1px 1px 0px #2E2F4229,
      0px 1px 6px 0px #2E2F4214;

  }
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: var(--font-size-base);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--transition-default);
}

.portfolio-item:hover .portfolio-overlay-info {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.page-footer {
  padding: 96px 0;
  background-color: var(--navy-color);
  color: var(--light-color);
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .page-footer .container {
    max-width: 584px;
  }
}

.footer-copy {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-copy {
    max-width: 264px;
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-copy {
    margin-right: 96px;
  }
}

.footer-description {
  color: var(--light-color);
  font-size: var(--font-size-base);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .social-media {
    margin-right: 56px;
  }
}

.social-media-title,
.subscribe-title {
  margin-bottom: 16px;
  color: var(--white-color);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {

  .social-media-title,
  .subscribe-title {
    text-align: left;
  }
}

.social-media .social-links {
  gap: 16px;
}

.social-media .social-link:hover,
.social-media .social-link:focus {
  background-color: var(--green-color);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.subscribe-label {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .subscribe-label {
    width: 264px;
  }
}

.subscribe-form .form-control {
  padding-left: 16px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(var(--black-color), 0.15);
}

.subscribe-form .form-control:hover,
.subscribe-form .form-control:focus {
  border-color: var(--primary-color);
}

.subscribe-form .form-control,
.subscribe-form .form-control::placeholder {
  color: var(--white-color);
}

.subscribe-form .form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 0 16px;
}

.form-group {
  display: block;
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(var(--navy-blue-rgb), 0.4);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  color: rgba(var(--navy-blue-rgb), 0.4);
  background-color: transparent;
  transition: border-color var(--transition-default);
}

.form-control::placeholder {
  color: rgba(var(--navy-blue-rgb), 0.5);
}

.form-control:hover,
.form-control:focus {
  border-color: var(--primary-color);
}


.form-group input[type="checkbox"] {
  display: none;
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: transparent;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(var(--navy-blue-rgb), 0.4);
  transition: background-color var(--transition-default), border var(--transition-default), fill var(--transition-default);
}

input[type="checkbox"]:checked+.form-label .form-checkbox {
  background-color: var(--primary-active-color);
  fill: var(--light-color);
  border: none;
}

.form-control--with-icon {
  padding-left: 38px;
}

.form-control-wrapper {
  position: relative;
}

.control-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-color);
  pointer-events: none;
  transition: fill var(--transition-default);
}

.form-control-wrapper:focus-within .control-icon {
  fill: var(--primary-color);
}

.form-submit .icon {
  fill: var(--white-color);
  margin-left: 16px;
}

.modal.order-modal {
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px;
  max-height: 100%;
}

@media only screen and (min-width: 768px) {
  .modal.order-modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.order-title {
  margin-bottom: 16px;
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
}

.order-form .form-submit {
  display: block;
  margin: 0 auto;
}

.order-form .privacy-label {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.order-comment-group {
  margin-bottom: 16px;
}

.order-comment {
  height: 120px;
  line-height: 1.17;
  resize: none;
}

.order-privacy-group {
  margin-bottom: 24px;
}

.order-privacy-group .form-label {
  display: flex;
  align-items: center;
}

.order-privacy-group .form-checkbox {
  flex-shrink: 0;
}

.order-form .link {
  color: var(--primary-color);
  text-decoration: underline;
}

.modal-overlay {
  background-color: rgba(var(--navy-blue-rgb), 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-default), visibility var(--transition-default);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  max-width: 480px;
  max-height: 90%;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(var(--black-color), 0.14),
    0px 1px 3px 0px rgba(var(--black-color), 0.12),
    0px 2px 1px 0px rgba(var(--black-color), 0.2);
  overflow-y: auto;
  transition: transform var(--transition-default);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(var(--black-color), 0.1);
  background-color: var(--border-color);
  cursor: pointer;
  transition: background-color var(--transition-default),
    border var(--transition-default);
}

.modal-close .icon {
  fill: var(--navy-color);
  transition: fill var(--transition-default);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--primary-active-color);
  border: none;
}

.modal-close:hover .icon,
.modal-close:focus .icon {
  fill: var(--white-color);
}